# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
debug.log
error.log

# OS-spezifische Dateien
.DS_Store
Thumbs.db

# Umgebungsvariablen
.env

# Output/Build-Dateien
frontend/output.css

# Editor/IDE-spezifische Dateien
.vscode/
.idea/
*.swp
*.swo
